.login{
    border: black 1px solid;
    width: 300px;
    height: 130px;
    margin: 150px auto 0 auto;
    
}
.controls{
    width: 210px;
    height: 100px;
    margin: 30px auto 40px auto;
    text-align:center;

}
.controls input{
    margin-top: 10px;

}

.signup{
    border: black 1px solid;
    width: 300px;
    height: 230px;
    margin: 150px auto 0 auto;
}
.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.provider{
    width: 49%;
    height: 100%;
    border: black solid 2px;
    margin-right: 10px;
}
.requester{
    width: 49%;
    height: 80vh;
    border: black solid 2px;
}
th{
    text-align: left;
}
td{
    padding-right: 20px;
}