<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Sign up</title>
</head>
<body>

    <div class="signup">
        <div class="controls">
                <label for="name"> name:</label>
                <input type="text" name="" id="name" />

                <label for="username">username:</label>
                <input type="text" name="" id="username" />

                <label for="password">password:</label>
                <input type="text" name="" id="password" />

                <label for="mobile">mobile:</label>
                <input type="text" name="" id="mobile" />

                <input type="button" value="signup">
    </div>
          
    
</body>
</html>
