<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Sign up</title>
</head>
<body>

    <div class="signup">
        <form class="controls" action="/sign_up" method="POST">

                <label for="name"> name:</label>
                <input type="text" name="name" id="name" />

                <label for="username">username:</label>
                <input type="text" name="username" id="username" />

                <label for="password">password:</label>
                <input type="text" name="password" id="password" />

                <label for="mobile">mobile:</label>
                <input type="text" name="mobile" id="mobile" />

                <input type="submit" value="signup">
        </form>

        
</body>
</html>
